@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background: url('LoginRegister.png') no-repeat center center/cover;
  min-height: 100vh;
  min-height: 100dvh;
}

/*INCIDENTS STYLING*/
.personnel-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
}

.personnel-header {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  color: white;
}

.personnel-picture {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px; 
  height: 250px; 
  overflow: hidden; 
}

.personnel-picture img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  border-radius: 8px; 
}

.personnel-info {
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  gap: 30px;
  color: white;
  height: fit-content;
  width: fit-content;
}

.personnel-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
  gap: 30px;
  color: white;
  font: 50px;
  font-weight: 200;
  width: 100%;
}

.personnel-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cancel-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 5px;
  width: 40%;
}

.update-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-weight: 400;
  color: black;
  background-color: white;
  border-radius: 5px;
  width: 40%;
  border: none;
}

.cancel-btn:hover {
  color: black;
  background-color: white;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.update-btn:hover {
  color: white;
  background-color: black;
  transition: background-color 0.3s ease, transform 0.5s ease;
}