.floating-btn-pdf, 
.floating-btn-add, 
.floating-btn-edit, 
.floating-btn-delete {
    width: 50px;
    height: 50px;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    position: fixed;
    right: 40px;
    z-index: 1000; /* Ensures buttons stay above other elements */
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

/* Individual Button Positions */
.floating-btn-pdf {
    bottom: 320px; 
}
.floating-btn-add {
    bottom: 255px; 
}
.floating-btn-edit {
    bottom: 190px; 
}
.floating-btn-delete {
    bottom: 125px; 
}
